@import '../../01-core/variables';
@import '../../02-element/icon/icons';

.info-blocks {
  padding: 2rem 0;

  .grid-row {
    justify-content: center;
  }

  .info--block__header {
    display: flex;
    align-items: center;

    .icon {
      border: 3px solid $orange;
      border-radius: 50%;
      padding: 1.5rem;
      height: 100%;

      .field__item {
        @extend %icons;
      }
    }

    .title {
      h2 {
        margin: 0;
        padding-left: 1.5rem;
        text-transform: uppercase;
      }
    }
  }

  .info--block__body {
    margin: 0.5rem 2rem;
  }
}
