{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region_hero()
 */
#}
{% if drupal_view('hero_banner', 'block_2') %}
	<div class="usa-hero__container">
		<div class="usa-hero__title">
			{{ drupal_view('hero_banner', 'block_3') }}
		</div>
		<div class="usa-hero__callout">
			{{ content }}
		</div>
	</div>
{% endif %}
