$theme-image-path-onr: '../images';

/* USWDS Breakpoints */
$uswds-card-breakpoint: 160px;
$uswds-card-lg-breakpoint: 240px;
$uswds-mobile-breakpoint: 320px;
$uswds-mobile-lg-breakpoint: 480px;
$uswds-tablet-breakpoint: 640px;
$uswds-tablet-lg-breakpoint: 880px;
$uswds-desktop-breakpoint: 1024px;
$uswds-desktop-lg-breakpoint: 1200px;
$uswds-widescreen-breakpoint: 1400px;
