.align-center {

  img,
  [data-max-width] {
    margin-right: auto !important;
    margin-left: auto !important;
  }

  > figcaption {
    text-align: center;
  }
}

.align-left {
  margin: 0.5rem 1rem 1rem 0;
}

.align-right {
  margin: 0.5rem 0 1rem 1rem;
}
